body {
    background: black;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.cell-row {
    display: flex;
}

.cell {
    font-size: 10px;
    width: 20px;
    height: 20px;
    background: gray;
    outline: 1px solid black;
}

.cell.water {
    background: blue;
}

.cell.wood {
    background: brown;
}

.cell.electrified {
    background: yellow !important;
}